@import '../../theme.scss';

.quizQuestionMarkerSize {
  display: flex;
  justify-content: center;
  width: 12px;
  height: 8px;
  transform: translateY(-2px);
  background-color: transparent;
  outline-offset: 1px;
  &.hover {
    height: 16px;
    transition: height 200ms ease, transform 200ms ease;
  }
  .marker {
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background-color: #ffffff;
  }
}

.smallMarker {
  width: 2px;
  height: 4px;
  transform: translateY(0px);
  display: flex;
  justify-content: center;
  background-color: transparent;
  outline-offset: 1px;
  &.hover {
    height: 16px;
    width: 12px;
    transition: height 200ms ease, transform 200ms ease;
    transform: translateY(-2px);
    border-radius: 2px;
  }
  .marker {
    width: 4px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 2px;
  }
}
