@import '../../theme';

@mixin base-segment {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: inherit;
}

.seek-bar-segment {
  background-color: rgba(255, 255, 255, 0.4);
  height: $progress-bar-height;
  transition: height 200ms ease, transform 200ms ease;
  position: relative;
  transform: translateY(0);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  &:hover,
  &.hovered {
    height: 2 * $progress-bar-height;
    transform: translateY(calc($progress-bar-height / -2));
  }

  .segment-progress {
    @include base-segment;
    background-color: $primary-color;
  }

  .buffered {
    @include base-segment;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
